<h2>daily-summary : {{worker.name}}</h2>

<table mat-table [dataSource]="dailyEntries" class="mat-elevation-z8 full-width">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef> Jour </th>
    <td mat-cell *matCellDef="let element"> {{element.day}} </td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Debut </th>
    <td mat-cell *matCellDef="let element"> {{element.start}} </td>
  </ng-container>

  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef> Fin </th>
    <td mat-cell *matCellDef="let element"> {{element.end}} </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Durée </th>
    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
  </ng-container>
  
    <ng-container matColumnDef="projet">
    <th mat-header-cell *matHeaderCellDef> Projet </th>
    <td mat-cell *matCellDef="let element"> {{element.projet}} </td>
  </ng-container>
  
      <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef> Tâche </th>
    <td mat-cell *matCellDef="let element"> {{element.task}} </td>
  </ng-container>
  
        <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Commentaire </th>
    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>
  
          <ng-container matColumnDef="ticket">
    <th mat-header-cell *matHeaderCellDef> Ticket JIRA </th>
    <td mat-cell *matCellDef="let element"> {{element.ticket}} </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>