<h1>worker list</h1>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="addEvent('change', $event)"> 
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<app-daily-summary [worker]="worker" [date]="getDate()" *ngFor="let worker of workers" ></app-daily-summary>
